<?xml version="1.0"?>
<robot name="P.E.K.K.A" xmlns:xacro="http://www.ros.org/wiki/xacro">

    xacro:<xacro:include filename="$(find mobile_robot)/model/something.gazebo"/>

    <!-- Body dimensions -->
    <xacro:property name="cuboid_x" value="1.0" />
    <xacro:property name="cuboid_y" value="0.6" />
    <xacro:property name="cuboid_z" value="0.3" />

    <!-- Wheel and caster radius-->
    <xacro:property name="r" value="0.15" />
    <!-- Wheel width -->
    <xacro:property name="wheel_d" value="0.1" />

    <xacro:property name="s1" value="${cuboid_z/2 + r/2}" />
    <xacro:property name="s2" value="${2 * r}" />
    <xacro:property name="s3" value="${2 * r}" />
    <xacro:property name="s4" value="${cuboid_y/2 + wheel_d/2}" />

    <!-- Material density -->
    <xacro:property name="dens_al" value="2712.0" />

    <!-- Robot body mass, wheel mass, caster mass -->
    <!-- Body -->
    <xacro:property name="cuboid_m" value="${dens_al * cuboid_x * cuboid_y * cuboid_z}" />
    <!-- Wheel -->
    <xacro:property name="wheel_m" value="${dens_al * pi * pow(r,2) * wheel_d}" />
    <!-- Caster-->
    <xacro:property name="caster_m" value="${dens_al * (4.0/3.0) * pi * pow(r,3)}" />

    <!-- Moments of inertia of the robot body -->
    <xacro:property name="Ix_body" value="${(1.0/12.0) * cuboid_m * (pow(cuboid_y,2) + pow(cuboid_z,2))}" />
    <xacro:property name="Iy_body" value="${(1.0/12.0) * cuboid_m * (pow(cuboid_x,2) + pow(cuboid_z,2))}" />
    <xacro:property name="Iz_body" value="${(1.0/12.0) * cuboid_m * (pow(cuboid_x,2) + pow(cuboid_y,2))}" />

    <!-- Moments of inertia of the wheel -->
    <xacro:property name="Iz_wheel" value="${(wheel_m*pow(r,2))/2}" />
    <xacro:property name="I_wheel" value="${(1.0/12.0) * wheel_m * (3.0 * pow(r,2) + pow(wheel_d,2))}" />

    <!-- Moments of inertia of the caster sphere -->
    <xacro:property name="I_caster" value="${(2.0/5.0) * caster_m * pow(r,2)}" />

    <!-- Macro to define the inertial section -->
    <xacro:macro name="inertiaMacro" params="mass:=0 Ix:=1 Iy:=1 Iz:=1">
        <inertial>
            <mass value="${mass}" />
            <inertia ixx="${Ix}" ixy="0.0" ixz="0.0" iyy="${Iy}" iyz="0.0" izz="${Iz}" />
        </inertial>
    </xacro:macro>

    <link name="base_footprint"></link>

    <joint name="body_link_joint" type="fixed">
        <parent link="base_footprint" />
        <child link="body_link" />
    </joint>

    <link name="body_link">
        <visual>
            <origin xyz="0 0 ${s1}" rpy="0 0 0" />
            <geometry>
                <box size="${cuboid_x} ${cuboid_y} ${cuboid_z}" />
            </geometry>
            <material name="material_name">
                <color rgba="1 0 0 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 ${s1}" rpy="0 0 0" />
            <geometry>
                <box size="${cuboid_x} ${cuboid_y} ${cuboid_z}" />
            </geometry>
        </collision>
        <xacro:inertiaMacro mass="${cuboid_m}" Ix="${Ix_body}" Iy="${Iy_body}" Iz="${Iz_body}"/>
    </link>

    <joint name="wheel1_joint" type="continuous">
        <parent link="body_link" />
        <child link="wheel1_link" />
        <origin xyz="${-s2} ${-s4} ${r}" rpy="0 0 0" />
        <axis xyz="0 1 0" />
        <limit effort="5000" velocity="10" />
        <dynamics damping="1.0" friction="1.0" />
    </joint>

    <link name="wheel1_link">
        <visual>
            <origin xyz="0 0 0" rpy="${radians(90)} 0 0" />
            <geometry>
                <cylinder length="${wheel_d}" radius="${r}" />
            </geometry>
            <material name="yellow">
                <color rgba="1 1 0 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="${radians(90)} 0 0" />
            <geometry>
                <cylinder length="${wheel_d}" radius="${r}" />
            </geometry>
        </collision>
        <xacro:inertiaMacro mass="${wheel_m}" Ix="${I_wheel}" Iy="${I_wheel}" Iz="${Iz_wheel}" />
    </link>

    <joint name="wheel2_joint" type="continuous">
        <parent link="body_link" />
        <child link="wheel2_link" />
        <origin xyz="${-s2} ${s4} ${r}" rpy="0 0 0" />
        <axis xyz="0 1 0" />
    </joint>

    <link name="wheel2_link">
        <visual>
            <origin xyz="0 0 0" rpy="${radians(90)} 0 0" />
            <geometry>
                <cylinder length="${wheel_d}" radius="${r}" />
            </geometry>
            <material name="yellow">
                <color rgba="1 1 0 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="${radians(90)} 0 0" />
            <geometry>
                <cylinder length="${wheel_d}" radius="${r}" />
            </geometry>
        </collision>
        <xacro:inertiaMacro mass="${wheel_m}" Ix="${I_wheel}" Iy="${I_wheel}" Iz="${Iz_wheel}"/>
    </link>

    <joint name="caster_joint" type="fixed">
        <parent link="body_link" />
        <child link="caster_link" />
        <origin xyz="${s3} 0 ${r}" rpy="0 0 0" />
    </joint>

    <link name="caster_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <sphere radius="${r}" />
            </geometry>
            <material name="blue">
                <color rgba="0 0 1 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <sphere radius="${r}" />
            </geometry>
        </collision>
        <xacro:inertiaMacro mass="${caster_m}" Ix="${I_caster}" Iy="${I_caster}" Iz="${I_caster}"/>
    </link>
</robot>